<div class="container center">
  <h5 class="center"> Hey <%= @user.first_name %>! </h5>
<% if @groups.length > 0 %>

<div class="card-panel teal center">
  <h5>Rafts you're a ridin'</h5>
  <ul>
  <% @groups.each do |group| %>
    <p><%= link_to group.name, group_path(group), :class =>"waves-effect purple lighten-1 btn" %></p>
  <% end  %>
<% else %>
  <h6 class="center">You have no Rafts yet...Come on!!!</h6>
<% end %>
</div>


<div class="card-panel teal center">
</ul>
<% if current_user.invitations.length > 0 %>
  <p>Check Out Your Invites!</p>

  <ul>
    <% current_user.invitations.each do |invitation| %>

      <li>
        <%=link_to Group.find_by(id: invitation.group_id).name, group_path(invitation.group_id)  %>
      </li>

    <% end  %>
  </ul>
<% else %>
    <h5>You have no invites...shucks</h5>
<% end %>
</div>



 <div class="card-panel teal left">
  <%= render partial: '/groups/new' %>
</div>

</div>
