<div class='container center'>
<h4 class="center">Welcome to Raft</h4>
<% if !logged_in?  %>


<div class="center">
<img src="/assets/images/raft.png"style="width:180px;height:180px;" >
</div>

<%= render partial: 'sessions/new' %>

<% end %>
</div>
