<div class='container center'>

<% if !logged_in?  %>

<br><br><br>
<div class="center">
<img src="/assets/images/logo.png"style="width:180px;height:180px;" ><br><br><br>
</div>

<%= render partial: 'sessions/new' %>

<% end %>
</div>
