<h2> Create an event! </h2>
<div class='container'>
<div class="form-group">
  <span class="border-0">
    <h1>Create an Event for your Raft</h1>

    <%= form_for @event, url: {action: "create"} do |f| %>

    <div class="form-group">
      <%= f.label :name, "Event Name:", class: "col-sm-2 control-label" %>
      <%= f.text_field :name, class: 'form-inline' %><br>
    </div>

    <div class="form-group">
      <%= f.submit "Start Event!" %>
    </div>

    <% end %>
  </div>
</span>
</div>
</div>
