<div class='container center'>
<div class="form-group">
  <span class="border-0">
    <h5>Create an Event for your Raft</h5>
    <br>
 <div class="card-panel grey lighten-3">
    <%= form_for @event, url: {action: "create"} do |f| %>

    <div class="form-group">
      <%= f.label :name, "Event Name:", class: "col-sm-2 control-label" %>
      <%= f.text_field :name, class: 'form-inline' %><br>
    </div>

    <div class="form-group">
      <%= f.submit "Start Event!",:class => "waves-effect purple lighten-1 btn" %>
    </div>

    <% end %>
  </div>
    </div>
</span>
</div>
</div>
