<div class="container-fluid">
<br>
<br>
<h1>
<%= @event.name %>
</h1>
<br>
<p> Vote on Location! </p>
<%= render partial: 'polls/answer_form' %>
</div>
<br>
<p> The leading answer is <%= highest_choice(@poll) %> </p>
