<%= form_tag answers_path, method: :post, id: 'answer_form' do  %>
<% hidden_field_tag 'poll[id], @poll.id'  %>
<%= render partial: '/polls/choice', collection: @poll.choices, as: :choice%>
<%= @poll.answers_summary %>

<%#= if current_user.answered_for?(@poll) && !@hide_already_answered %>
<!-- <p> You have already answered </p> -->
<%= submit_tag 'Answer', class: 'btn btn-primary' %>
<% end %>
