
<%= content_tag(:label) do %>
<br>

<% unless current_user.answered_for?(event_poll)  %>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary btn-xs">
    Select<%= radio_button_tag 'choice[id]', choice.id%>
  </label>
</div>


<br>
<% end %>
<ul>
<li> <%= choice.title %> </li>
</li>
<br>
<% end %>




<!-- <p> click here<%#= radio_button_tag 'choice[id]', choice.id %> </p> -->
