<div class="container center">
  <div class="alert">

    <h4> We think you may have fallen off your Raft</h4>
<i class="fa fa-thumbs-down large"></i>
<br>
<br>
<h5> Head back <%= link_to "Home", root_path %> </h5>
  </div>
</div>


